.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
yarn-error.log

.idea/
.vscode/

jsconfig.json
.history/

static/theme
src/style/theme/config.js

.husky/_
